@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --secondary: #ff7f50;
    --tertiary: #b6fcab;
    --bg-color-1: #e4fde8;
}

body{
    @apply bg-color1
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}
/* #fff3e6 */
/* #dabcd3 */
/* #d9d1c3 */
/* #e5e6cf */
/* #e4fde8 */

